.header {
  height: 55px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.left-section {
  width: 250px;
  align-items: center;
  display: flex;
}
.hamburger-menu {
  height: 20px;
  margin-right: 10px;
}
.youtube-logo {
  height: 20px;
}
.middle-section {
  display: flex;
  flex: 1;
  margin-left: 10px;
  margin-right: 100px;
  max-width: 600px;
  align-items: center;
  width: 700px;
  height: 40px;

  margin-top: 10px;
}
.right-section {
  display: flex;
  width: 150px;
  align-items: center;
  justify-content: space-between;
}
.channel-profile {
  height: 30px;
  border-radius: 20px;
}
.notification-icon {
  height: 30px;
}
.upload-icon {
  height: 30px;
}
.search-button {
  width: 50px;

  border: solid;
  border-width: 1px;
  margin-left: 0px;
  cursor: pointer;
  padding: 1px ;
  border-radius: 0 30px 30px 0;
  background-color: #999;
  
}
.search-button:hover{
    opacity: 0.9;
}
.search-button:active{
    background-color: #888;
}
.search-bar {
  width: 500px;
  height: 40px;
  border: solid;
  border-width: 1px;
  border-radius: 30px 0 0 30px;
  padding-left: 20px;
  font-size: 20px;
}
.search-button img{
    height: 37px;
}
