.side-bar{
    position: fixed;
    left: 0;
    bottom: 0;
    top: 120px;
    width: 75px;
    background-color: white;
    z-index: 6;

}
.sidebar-link{
    position: relative;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    justify-content: center;
    align-items: center;

}
.sidebar-link:hover{
    background-color: rgb(241, 240, 240);
}
.sidebar-link img{
    height: 30px;
    margin-bottom: 4px;

}
.sidebar-link div{
    font-family: Roboto, Arial;
    font-size: 10px;
}

.sidebar-link .search-tooltip{
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: gray;
    color: white;
    padding: 4px 8px 4px 8px;
    border-radius: 2px;
    font-size: 12px;
    opacity: 0;
    transition: opacity 0.2s;
    pointer-events: none;
    white-space: nowrap;
    right: -55px;
    top: 20px;
    z-index: 30;
}
.sidebar-link:hover .search-tooltip{
    opacity: 1;
}