
  .thumbnail {
    width: 100%;
    border-radius: 10px;
    height: 300px;
  }

  .title {
    font-size: 20px;
    font-weight: bold;
    line-height: 24px;
    width: 300px;
    line-height: 14px;
    margin-bottom: 10px;
    margin-top: 0px;
  }
  .creator {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .views {
    color: rgb(68, 65, 65);
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 10px;
  }
  .video-preview2,
  .video-preview3,
  .video-preview4,
  .video-preview5,
  .video-preview6,
  .video-preview {
    width: 100%px;
    padding-top: 50px;
    margin-right: 20px;
  }
  .profile-pic {
    margin-top: 0px;
  }
  .video-description {
    font-family: Roboto;
  }
  .thumbnail-row {
    margin-bottom: 15px;
  }
  .info-grid {
    display: grid;
    grid-template-columns: 50px 1fr;
  }

  .video-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10px;
    row-gap: 40px;
  }